<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<settings>
	<category label="30101">
	    <setting id="validator"         label="validator"     type="text"   default="0" visible="false" />
        <setting id="streamURL"         label="streamURL"     type="text"   default="" visible="false" />
 		<setting type="lsep"            label="[CR]Enter your noobsandnerds login details here"/>
		<setting id="login"             label="Unlock Features with noobsandnerds login"        type="bool"   default="false" visible="true" />
		<setting id="username"          label="Username"      type="text"   default="" visible="eq(-1,true) "/>
		<setting id="password"          label="Password"      type="text"   default="" visible="eq(-2,true) "/>
		<setting id="remoteshare"       label="Use a remote share for addon data"        type="bool"   default="false" visible="eq(-3,true) "/>
		<setting id="remotelocation"    label="Enter location for shared addon data"      type="text"   default="" visible="eq(-1,true) "/>
        <setting id="dummy"             label="[COLOR=gold]Click to verify your login details[/COLOR]"    type="action"    option="close"    action="XBMC.RunScript(special://home/addons/script.tvportal/verify.py)" visible="eq(-5,true) "/>
        <setting id="dixie.url"         label="30117" type="labelenum" values="All Channels|Other" default="All Channels" visible="false" />

 		<setting type="lsep"            label="[CR]TV mini guide - bring up the tv guide from anywhere in Kodi"/>
        <setting id="HOTKEY"            label="[B]Click to program Mini-Guide Hot Key[/B]" type="action"       action="XBMC.RunScript(special://home/addons/script.tvportal/keyProgrammer.py)"/>
        <setting id="dummy"             label="[B]Click to reset Mini-Guide Hot Key[/B]"              type="action"       action="XBMC.RunScript(special://home/addons/script.tvportal/resetHotkey.py)" />
		
        <setting label="" type="lsep" visible="false" />

 		<setting id="gmtfrom"           label="30124" type="labelenum"     default="GMT" values="GMT-12|GMT-11|GMT-10|GMT-9|GMT-8|GMT-7|GMT-6|GMT-5|GMT-4|GMT-3|GMT-2|GMT-1|GMT|GMT+1|GMT+2|GMT+3|GMT+4|GMT+5|GMT+6|GMT+7|GMT+8|GMT+9|GMT+10|GMT+11|GMT+12" visible="false" />

        <setting id="CURRLOGO"         label="Current LogoPack"            type="text"   default=""  visible="false" />
        <setting id="PREVLOGO"         label="Previous LogoPack"           type="text"   default="None"  visible="false" />
		<setting id="FIRSTRUN"         label="FIRSTRUN"                    type="bool"   default="false" visible="false" />
		<setting id="MINIGUIDE"        label="Mini-Guide Installed"        type="bool"   default="false" visible="false" />

 	    <setting id="epg.date"         label="Update EPG Date"          type="text"   default="01-01-01" visible="false" />
	    <setting id="current.channels" label="Current Channels"         type="number" default="0"        visible="false" />
	    <setting id="updated.channels" label="Updated Channels"         type="number" default="0"        visible="false" />
		<setting id="messageID"        label="messageID"                type="text"   default="0"        visible="false" />
	    <setting id="LOGIN_TIME"       label="login"                    type="text"   default=""         visible="false"/>
	    <setting id="LOGIN_IPTV"       label="login"                    type="text"   default=""         visible="false"/>
	    <setting id="LOGIN_UKTV"       label="login"                    type="text"   default=""         visible="false"/>

		<setting id="gmtprev"     type="text" label="Previous GMT"    default="0" visible="false"/>
		<setting id="categories"  type="text" label="categories"      default="" visible="false"/>
	    <setting id="VERSION"     type="text" label="Current Version" default="0.0.0" visible="false"/>
		<setting id="SKINVERSION" type="text" label="Skin Version"    default="7" visible="false"/>
		<setting id="LOGOVERSION" type="text" label="Logo Version"    default="0" visible="false"/>
		<setting id="INIVERSION"  type="text" label="ini Version"     default="0" visible="false"/>

		<setting id="DIXIEURL"    type="labelenum" values="All Channels" default="All Channels" visible="false"/>
	</category>

    <category label="30114">
 		<setting type="lsep"     		    label="[CR]Only show listings you have channels set for"/>
		<setting id="showSFchannels"        label="Only show my Super Favourite Channels" type="bool"   default="false" visible="true" />
		<setting id="autoplay" 		        label="Auto Play SF items" 					  type="bool"   default="true"  visible="eq(-1,true)" />
	    <setting id="SF_CHANNELS"           label="SF Channel Folder" 					  type="folder"   default=""      visible="eq(-2,true) "/>
		<setting id="dummy"                 label="[COLOR=gold]Create SF Channel Folders in path above[/COLOR]" type="action" action="XBMC.RunScript(special://home/addons/script.tvportal/createFolders.py)" option="close" visible="eq(-3,true) " />
 		<setting type="lsep"                label="[CR]This helps with dead links that need relinking"/>
        <setting id="ignore.stream"         label="Always Offer To Choose Stream"         type="bool"   default="false" visible="true"/>
 		<setting type="lsep"                label="[CR]Easy access to categories list - disables ability to look back in time."/>
		<setting id="showcats"              label="Show Categories On Left Click"         type="bool"   default="true" visible="true" />
 		<setting type="lsep"                label="[CR]Not based in UK? You may need to change this option"/>
        <setting id="ftv.ini"               label="Choose Film-On UK TV Links"            type="labelenum" values="UK Links|Non-Geolocked UK Links" default="UK Links" visible="true" />
        <setting id="enable.osd"            label="30118"                                 type="bool"   default="true" enable="eq(1,false)" visible="false"/>
		<setting id="local.ini"             label="Allow Enhanced Add-on Linking"         type="bool"   default="true" visible="false"/>
        <setting id="alternative.playback"  label="30120"                                 type="bool"   default="false" visible="false"/>
 		<setting type="lsep"                label="[CR]Do not enable unless you absolutely need touchscreen support"/>
        <setting id="enable.touch"          label="30123"                                 type="bool"   default="false" />
 		<setting type="lsep"                label="[CR]Boot directly into the EPG on startup of Kodi"/>
        <setting id="autoStart"             label="Start Automatically (requires reboot)" type="bool"   default="false" visible="true"/>
 		<setting type="lsep"                label="[CR]Worried you may leave the TV streaming content? Set a timer here"/>
		<setting id="idle"                  label="Quit Stream If Idle For"               type="enum" values="Never|1 Hour|2 Hours|3 Hours|4 Hours" default="4" />
 		<setting type="lsep"                label="[CR]Stop accidental backing out of the EPG - this gives a yes/no dialog"/>
 		<setting id="confirm.exit"          label="Confirm Exit From TV Portal"          type="bool" default="false" visible="true" />
		<setting id="notifications.enabled" label="30106"                                 type="bool"   default="true" visible="false"/>
        <setting id="dummy"                 label="30108"                                 type="action" action="XBMC.RunScript(special://home/addons/script.tvportal/notification.py)" visible="false"/>
        <setting id="trailers.addon"        label="Choose Trailers Add-on"                type="labelenum" values="Apple iTunes Trailers|HD-Trailers.net" default="HD-Trailers.net" visible="false" />
        <setting id="ustv.addon"            label="Choose USTV Catch Up Add-on"           type="labelenum" values="Hulu|Hulu-Beta|USTV VoD" default="USTV VoD" visible="false" />
    </category>

    <category label="30125">
 		<setting type="lsep" label="[CR]Log Options - Add an email to receive a link to your log"/>
 		<setting id="DEBUG" label="Enable Debug Mode" type="bool" default="true"/>
	    <setting id="skip_oldlog" type="bool" label="Always skip Kodi.old.log (log from previous run)" default="true" visible="true"/>
 		<setting id="email" type="text" label="Email address"/>
 		<setting id="dummy" label="[COLOR=gold]Click to upload log[/COLOR]" type="action" action="XBMC.RunScript(special://home/addons/script.tvportal/uploadLog.py)" option="close" />
 		<setting type="lsep" label="[CR]Backup/Restore Channel Data"/>
        <setting id="dummy" label="30129" type="action" option="close" action="XBMC.RunScript(special://home/addons/script.tvportal/backup.py)"  visible="true"/>
        <setting id="dummy" label="30130" type="action" option="close" action="XBMC.RunScript(special://home/addons/script.tvportal/restore.py)" visible="true"/>
 		<setting type="lsep" label="[CR]Fixes"/>
        <setting id="dummy" label="30126" type="action" action="XBMC.RunScript(special://home/addons/script.tvportal/deleteDB.py)" />
        <setting id="dummy" label="30127" type="action" action="XBMC.RunScript(special://home/addons/script.tvportal/resetChannels.py)"/>
        <setting id="dummy" label="30131" type="action" action="XBMC.RunScript(special://home/addons/script.tvportal/restoreChannels.py)" />
        <setting id="dummy" label="30132" type="action" action="XBMC.RunScript(special://home/addons/script.tvportal/resetAddon.py)" />
    </category>

    <category label="Custom Options">
 		<setting type="lsep"            label="[CR]Appearance - set your skin and logo pack"/>
        <setting id="dixie.skin"        label="Choose Skin Style"          type="select" source="../../userdata/addon_data/script.tvportal/extras/skins/" mask="/" default="FXB-ARBMOD"/>
		<setting id="chan.type"         label="Channel Settings"           type="enum"   default="0" values="Built-in|Custom"   />
		<setting id="user.chan.folder"  label="Custom Channel Folder"      type="folder" source="special://" visible="eq(-1,1)" />
		<setting id="logo.type"         label="Logo Pack Settings"         type="enum"   default="0" values="Built-in|Custom"   />
		<setting id="user.logo.folder"  label="Choose Custom Logo Pack"    type="folder" source="special://" visible="eq(-1,1)" />
		<setting id="dixie.logo.folder" label="Choose Built-in Logo Pack"  type="select" source="../../userdata/addon_data/script.tvportal/extras/logos/" mask="/" default="Colour Logo Pack" visible="eq(-2,0)"  />
 		<setting type="lsep"            label="[CR]Add a custom IPTV Playlist - easy integration for online and local playlists"/>
		<setting id="playlist.type"     label="IPTV Playlist"                         type="enum"   default="URL" values="URL|File" visible="true"/>
		<setting id="playlist.file"     label="File"                                  type="file"   visible="eq(-1,1)" />
		<setting id="playlist.url"      label="URL"                                   type="text"   default="https://raw.githubusercontent.com/wajahtumho/wajahtumho/master/lists/kodi.txt" visible="eq(-2,0)"/>
 		<setting type="lsep"            label="[CR]Add my own channels - create your own XML file and scan into db here"/>
        <setting id="enable_xml"        label="Enable custom XML files"   type="bool" default="false" visible="true"/>
	    <setting id="xmlpath"           label="TV XML Path" type="file" default=""     visible="eq(-1,true)"/>
		<setting id="dummy"             label="[COLOR=gold]Scan in XML File - this can take a long time![/COLOR]" 	  type="action" action="XBMC.RunScript(special://home/addons/script.tvportal/createDB.py)" option="close" visible="eq(-2,true) " />
 		<setting type="lsep"            label="[CR]Add ini Files - these contain mappings to various addons"/>
        <setting id="INI_0_E"           label="Enable"   type="bool" default="true" visible="true"/>
	    <setting id="INI_0"             label="ini file" type="file" default=""     visible="eq(-1,true)"/>
		<setting id="INI_1_E"           label="Enable"   type="bool" default="false" visible="!eq(-1,)"/>
	    <setting id="INI_1"             label="ini file" type="file" default=""      visible="eq(-1,true) "/>
		<setting id="INI_2_E"           label="Enable"   type="bool" default="false" visible="!eq(-1,)"/>
	    <setting id="INI_2"             label="ini file" type="file" default=""      visible="eq(-1,true) "/>
		<setting id="INI_3_E"           label="Enable"   type="bool" default="false" visible="!eq(-1,)"/>
	    <setting id="INI_3"             label="ini file" type="file" default=""      visible="eq(-1,true) "/>
		<setting id="INI_4_E"           label="Enable"   type="bool" default="false" visible="!eq(-1,)"/>
	    <setting id="INI_4"             label="ini file" type="file" default=""      visible="eq(-1,true) "/>
		<setting id="INI_5_E"           label="Enable"   type="bool" default="false" visible="!eq(-1,)"/>
	    <setting id="INI_5"   	        label="ini file" type="file" default=""      visible="eq(-1,true) "/>
		<setting id="INI_6_E"           label="Enable"   type="bool" default="false" visible="!eq(-1,)"/>
	    <setting id="INI_6"             label="ini file" type="file" default=""      visible="eq(-1,true) "/>
		<setting id="INI_7_E"           label="Enable"   type="bool" default="false" visible="!eq(-1,)"/>
	    <setting id="INI_7"             label="ini file" type="file" default=""      visible="eq(-1,true) "/>
		<setting id="INI_8_E"           label="Enable"   type="bool" default="false" visible="!eq(-1,)"/>
	    <setting id="INI_8"             label="ini file" type="file" default=""      visible="eq(-1,true) "/>
		<setting id="INI_9_E"           label="Enable"   type="bool" default="false" visible="!eq(-1,)"/>
	    <setting id="INI_9"             label="ini file" type="file" default=""      visible="eq(-1,true) "/>
	</category>
</settings>

